<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LumoTrackConnectionString" connectionString="data source=.\SQLEXPRESS;initial catalog=LumoTrack;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>